@import "Header";
@import "SmallBasket";
@import "Filters";
@import "Basket";
@import "Cards";
@import "FastView";
@import "Footer";
@import "variables";

* {
  outline: none;
  font-size: $main-font-size;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
}

main {
  padding-top: 88.81px;
  flex: 1 0 auto;
}

.App {
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
